
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <img src="/img/rob.png" alt="Rob Roe" width=250px height=280px>
            <img src="/img/damon.jpg" alt="Damon Jo" width=250px height=280px>
            <img src="/img/dan.jpg" alt="Daniel Yang" width=250px height=280px>


            <p>We on the LetsPack team are a group of fun loving software developers living in beautiful British Columbia. We maintain a casual and friendly atmosphere in our workplace. If one of us falls, we can count on our team mates to help us back up. We’re making LetsPack because we really want to use it and we hope you do too!</p>


        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer.ejs') %>
<!-- /include footer -->