<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/login.css">

</head>

<body>


  
<!-- include nav -->
<%- include('include/_nav') %>
<!-- /include nav -->

    <section class="login">
      <h2>Log in</h2>
      <ul class="unorderedList">
        <li><input type="text" placeholder="Username" title="enterName"></li>
        <li><input type="password" placeholder="password" title="enterPassword"></li>
        <li><button class="loginBTN">Log in</button></li>
      </ul>
    </section>

  </div>


</body>

</html>