
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
					<div id="profileBox">
						<div class="imgBox">
							<img id="pan1" class="img_profile" src="/img/rob.png" alt="Rob Roe">
							<p id="name1" class="egg">Robert</p>
						</div>
						<div class="imgBox">
							<img id="pan2" class="img_profile" src="/img/damon.jpg" alt="Damon Jo">
							<p id="name2" class="egg">Damon</p>
						</div>
						<div class="imgBox">
							<img id="pan3" class="img_profile" src="/img/dan.jpg" alt="Daniel Yang">
							<p id="name3" class="egg">Daniel</p>
						</div>
					</div>


            <p id="intro">We on the LetsPack team are a group of fun loving software developers living in beautiful British Columbia. We maintain a casual and friendly atmosphere in our workplace. If one of us falls, we can count on our team mates to help us back up. We’re making LetsPack because we really want to use it and we hope you do too!</p>


        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer.ejs') %>
<!-- /include footer -->