 <!-- form handling -->
 <form method="POST" id="add_event">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden"   name="id" value="">
            <input type="text" name="name" value="" placeholder="Camping">
        </div>


        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>