 <!-- form handling -->
 <form method="POST" id="add_event">
    <div class="new_user">
        <div class="form-group">

            <div class="event-input">
                <label for="name" class="text-light">Name</label>
            <input type="hidden"   name="id" value="">
            <input type="text" name="name" value="" placeholder="Camping" required>
            </div>
            <div class="event-input">
                <label for="eventdate" class="text-light">Event date</label>
                <input type="date" name="eventdate" value="" required>
            </div>
            <div class="event-input">
                <label for="description" class="text-light" style="display : block; width: 200px">Event description</label>
                <textarea type="text" name="description" placeholder="Explain about the event" rows="10" cols="30" value="" required></textarea>
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="button-addition update">Save</button>
        </div>

    </div>
</form>