 <!-- form handling -->
 <form method="POST" id="add_item">
     <div class="new_user">
         <div class="form-group">
             <div>
                 <label for="item" class="text-light">Item Name</label>
                 <input type="hidden" name="id" value="">
                 <input type="text" name="item" value="" placeholder="Frying pen">
             </div>
             <div>
                 <label for="qty" class="text-light">Quantity</label>
                 <input type="number" name="qty" value="" placeholder="Quantity">
             </div>
             <div>
                 <label for="des" class="text-light">Description</label>
                 <input type="text" name="des" value="" placeholder="Description about item">
             </div>
             <div>
                 <label for="owner" class="text-light">Owner</label>
                 <input type="text" name="owner" value="" placeholder="Owner">
             </div>




         </div>


         <div class="form-group">
             <button type="submit" class="btn text-dark update">Save</button>
         </div>

     </div>
 </form>