		<% for(var i = 0; i < invites.length; i++) { %>
			<tr class="dynamic-td">
				<td>
					<p><span class="td-client-info">Invite From: <%= invites[i].sender %></span></p>
				</td>
				<td>
					<p><span class="td-client-info">Join: <%= invites[i].eventname %></span></p>
				</td>
				<td class="dynamic-td-btns">
					<a href="/invite-accept?id=<%= invites[i]._id%>" class="button-addition update">
						<span>Accept</span>
					</a>
					<a href="/invite-reject?id=<%= invites[i]._id%>" class="button-addition update">
						<span>Reject</span>
					</a>
				</td>
			</tr>
		<% } %>
