 <!-- form handling -->
 <form method="POST" id="signup">
    <div class="new_user">
        <div class="form-group">
            <label for="id" class="text-light">Email</label>
            <input type="email" name="id" value="" placeholder="Example@email.com" required>
        </div>
        <div class="form-group">
            <label for="pw" class="text-light">Password</label>
            <input type="test" name="pw" value="" placeholder="*******" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>