body {
	background-color: #52cac3;
}

.logo {
height: 40px;
width: auto;
}

.container_nav {
    background-color: rgb(70, 70, 70);
    margin: auto;
    color: white;
  }


  .hambergerMeun {
    overflow: hidden;
    background-color: #0074e1;
    position: relative;
  }

  #menuDetail {
    display: none;
  }

  .hambergerMeun a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
  }

.hambergerMeun a > * {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

  .hambergerMeun a.icon {
    display: block;
		padding: 23px;
    position: absolute;
    right: 0;
    top: 0;
    background: #0065c5;
  }

.tableButton {
	display: block;
}

.student {
	display: block;
	text-align: center;
}

  #title_bar {
    display: grid;
    grid-template-columns: 10fr 1fr;
  }


  #title {
    font-size: 2rem;
    text-align: center;
  }

  #plus {
    content: "\002B";
    font-size: 3rem;
  }

  #inputContainer{
    border: 2px solid white;
  }
  .form-group{
    margin: 1rem 0;
  }
  .form-group > label{
    display: inline-block;
    width: 100px;
  }
  .event-input {
    margin : 20px;
  }

  .form-group > input{
    display: inline-block;
    font-size: 1rem;
    border: none;
  }
  #inputContainer button{
    padding: 5px;
    position: relative;
    left: 20%;

  }

  .requiredStar {
    color : red;
}