@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
    margin-top: 15pt;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.greeting {
	color: white;
	word-wrap: break-word;
	font-weight: normal;
}

.d-flex{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow, .button-addition, .claimItem {
    border: 1px solid var(--border-btn);
    background-color: #f79e02;
    color: white;
}

.form-control {
	font-size: 1rem;
}

.form-heading {
    color: white;
}

.filter > a {
	color: white;
}

.inline{
    display: inline-block;
}

.text-light{
    color: white
}

#header nav{
    background-color: #52cac3;
    padding-bottom: 1em;
    width: 100%;
}

#site-main{
    margin-top: 2em;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: 'Barlow', sans-serif;
    color: white;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 1em 0;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.td-client-info {
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem;
    word-wrap: break-word;
}

.table td, .table th{
    padding: .75em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    text-align: center;
}

.table td > a.btn, .button-addition, .claimItem {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.dynamic-td {
	border: solid;
	border-width: 2px;
}

.dynamic-td-btns {
	min-width: 400px;
}

.dynamic-td:hover{
    background-color:#25a39c ;
}

.dynamic-td:hover td > a{
    box-shadow: none;
}

#createAccount {
	display:block;
	margin: 1rem;
}

.table .thead-dark th{
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem;
}

@media only screen and (max-width: 1024px){

	.container {
			max-width: 600px;
	}

	.claimItem {
		width: -webkit-fill-available;
	}

		.table td > a.btn, .claimItem {
				display: block;
		}

    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

.dynamic-td-btns {
	min-width: 0px;
}

    td {
        border: none;
        position: relative;
    }

}

/*  add user & update user template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio{
    margin: 1em 2em;
}


#update_user .form-group .btn,
#add_user .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}
